<%= render "shared/header" %>


<h1>
＜#<%= @tag.name %>＞の商品一覧
</h1>


<% @items.each do |item| %>
  <li class='list'>
    <%= link_to item_path(item.id) do %>
    <div class='item-img-content'>
        <%= image_tag item.images[0], class:'item-img' %>

      <% if item.order.present? %>
        <div class='sold-out'>
          <span>Sold Out!!</span>
        </div>
      <% end %>
    </div>

    <div class='item-info'>
      <h3 class='item-name'>
        <%= item.item_name %>
      </h3>
      <div class='item-price'>
        <span><%= item.price %>円<br><%= item.shipping_fee.name %></span>
        <div class='star-btn'>
          <%= image_tag "star.png", class:"star-icon" %>
          <span class='star-count'>0</span>
        </div>
      </div>
    </div>
    <% end %>
  </li>
<% end %>

<br>
<%= link_to 'トップページへ戻る', root_path %>
<br>
<%= link_to 'タグ検索に戻る', tagcheck_items_path %>
<br>
<%= link_to '絞り込み検索', retrieve_items_path %>
<br>
<%= render "shared/footer" %>